<section class="container-fluid intro-hero-image" ng-init="initLanding()">
  <div class="hot-wheels-logo animated slideInDown"></div>
  <div class="intro-heading"></div>
  <div class="hot-wheels-car animated zoomIn slideInRight"></div>
</section>

<section class="container-fluid pitch">
    <div class="container">
      <div class="row row-centered">
        <div class="col-sm-12 col-centered">
          <h1 class="text-center pitch-heading animated slideInDown mtopbot0">
            Break the record,  <b>Be a hero!</b>
          </h2>
          <h3 class="text-center animated slideInDown mtop0 pbot40">Every month a new challenge, 3 cars and a stunt. Be the first to break the time record.</h4>
        </div>
      </div>
      <div class="row row-centered mtop10">
        <div class="col-sm-5 col-centered">
          <div class="animated zoomIn">
            <img src="images/hw-box.png" class="img-responsive mtop-15" alt="">
          </div>
        </div>

        <div class="col-sm-5 col-centered">
          <h2 class="text-left pitch-heading animated slideInDown mtop75 ptop50 mbot10">
            <b class="text-uppercase">
              $24.99<span class="text-small text-lowercase">/month</span>
            </b>
          </h2>

          <div class="pitch-box-cta text-left animated slideInUp">
            <a class="btn btn-primary btn-blue btn-x-lg">Let me break it!</a>
          </div>
        </div>
      </div>
    </div>
</section>


<section class="container-fluid intro-how-it-works ptopbot75">
    <div class="container">
      <div class="row row-centered mbot50">
        <div class="col-sm-8 col-centered">
          <h1 class="text-center text-white mtop0 text-3x-lg animated slideInDown">How It Works</h1>
          <h3 class="text-center text-white text-thin text-lg animated slideInUp">Record Breaker offers an exclusive monthly challenge delivered to your home. Collect them all to create a mega challenge.</h3>
        </div>
      </div>

      <ul class="row row-centered intro-how-it-works-steps text-white ptop30">
        <li class="col-sm-4 col-centered text-center">
          <div class="icon animated zoomIn">
            <img src="images/icons/sport-car.svg">
          </div>
          <h2 class="animated slideInUp">Exclusive Cars</h2>
          <h4 class="animated slideInUp">Every box includes exclusive items: 3 cars, a stunt and other goodies.</h4>
        </li>
        <li class="col-sm-4 col-centered text-center">
          <div class="icon animated zoomIn">
            <img src="images/icons/car-track-icon.svg">
          </div>
          <h2 class="animated slideInUp">A New Challenge</h2>
          <h4 class="animated slideInUp">Every box becomes a set with a record to break.</h4>
        </li>
        <li class="col-sm-4 col-centered text-center">
          <div class="icon animated zoomIn">
            <img src="images/icons/cancel-anytime-icon.svg">
          </div>
          <h2 class="animated slideInUp">Cancel Anytime</h2>
          <h4 class="animated slideInUp">You can cancel online anytime or skip a month.</h4>
        </li>
      </ul>

      <div class="row row-centered">
        <div class="col-sm-12 mtop20">
          <a class="btn btn-primary btn-blue btn-x-lg">Get my first box!</a>
        </div>
      </div>

    </div>
    <div class="bg-overlay"></div>
</section>

<section class="container-fluid bg-white box-contents">
    <div class="container">
      <div class="row row-centered">
        <div class="col-sm-12 col-centered">
          <h2 class="text-center pitch-heading animated slideInDown mtop-20 mbot0">
            Past Stunts
          </h2>
          <h4 class="text-center animated slideInUp mtop0">
            See cool stunts from previous boxes. Don’t miss the next stunt!
          </h4>
        </div>
        </div>
      </div>
      <ul class="row row-centered list-unstyled list-inline past-stunts mtop20">
        <li class="col-sm-4 col-centered">
          <div>
            <img src="images/icons/video-play-icon.svg" class="play-icon" alt="">
            <img src="images/past-stunts/1.jpg" class="img-responsive">
          </div>
        </li>

        <li class="col-sm-4 col-centered">
          <div>
            <img src="images/icons/video-play-icon.svg" class="play-icon" alt="">
            <img src="images/past-stunts/2.jpg" class="img-responsive">
          </div>
        </li>

        <li class="col-sm-4 col-centered">
          <div>
            <img src="images/icons/video-play-icon.svg" class="play-icon" alt="">
            <img src="images/past-stunts/3.jpg" class="img-responsive">
          </div>
        </li>
      </ul>
    </div>
</section>

<section class="container-fluid cars-animation bg-gray ptopbot100">
    <div class="start-timer">
      <span class="start">Start</span>
      <span class="timer">00:00</span>
    </div>

    <img src="images/cars/car-1.png" class="car-1" alt="">
    <img src="images/cars/car-2.png" class="car-2" alt="">
</section>

<section class="container-fluid bg-medium-gray box-contents">
    <div class="container">
      <div class="row row-centered">
        <div class="col-sm-12 col-centered">
          <h2 class="text-center pitch-heading animated slideInDown mtop-20 mbot0">
            Our Fans Breaking Records
          </h2>
          <h4 class="text-center animated slideInUp mtop0">
            Our fans taking Record Breaker to new levels. Awesome creativity, join them and be a hero!
          </h4>
        </div>
        </div>
      </div>
      <ul class="row row-centered list-unstyled list-inline fan-records mtop20">
        <li class="col-sm-3 col-centered">
          <div>
              <img src="images/gifs/fan-1.gif" class="img-responsive">
          </div>
        </li>

        <li class="col-sm-3 col-centered">
          <div>
            <img src="images/gifs/fan-2.gif" class="img-responsive">
          </div>
        </li>

        <li class="col-sm-3 col-centered">
          <div>
            <img src="images/gifs/fan-3.gif" class="img-responsive manual-gif">
          </div>
        </li>
        <li class="col-sm-12 mtop40">
          <a class="btn btn-primary btn-blue btn-x-lg">Get my first box!</a>
        </li>
      </ul>
    </div>
</section>
